<div class="row">
    <div class="col"></div>
    <div class="col-lg-5 col-sm-11">
        <div class="form-group">
            <form action="#" method="post">
            <label for="sel1">Selecciona la especialidad para la que aplicaste:</label>
            <select name="especialidades" class="select-picker form-control" id="sel1" placeholder="Selecciona una" data-style="btn-info">
            <option>Anatomía Patológica</option>
            <option>Anestesiología</option>
            <option>Audiología, otoneurología y foniatría</option>
            <option>Calidad de atención clínica</option>
            <option>Cirugía general</option>
            <option>Epidemiología</option>
            <option>Genética médica</option>
            <option>Geriatría</option>
            <option>Ginecología y obstetricia</option>
            <option>Imagenología diagnóstica y terapéutica</option>
            <option>Medicina de la actividad física y deportiva</option>
            <option>Medicina de rehabilitación</option>
            <option>Medicina de urgencias</option>
            <option>Medicina del trabajo y ambiental</option>
            <option>Medicina familiar</option>
            <option>Medicina Legal</option>
            <option>Medicina interna</option>
            <option>Medicina nuclear e imagenología molecular</option>
            <option>Medicina preventiva</option>
            <option>Neumología</option>
            <option>Oftalmología</option>
            <option>Otorrinolaringología y cirugía de cabeza y cuello</option>
            <option>Patología clínica</option>
            <option>Pediatría</option>
            <option>Psiquiatría</option>
            <option>Radio oncología</option>
            <option>Traumatología y ortopedia</option>
            </select>
        
            <label for="example-number-input" class="col col-form-label">Ingresa tu puntaje:</label>
            <input class="form-control" type="number" placeholder="Ejemplo 54.321" id="number_input" name="number_input" step="0.001" required />
            <input type="submit" style="margin-top: 15px; width: 100%;" class="btn btn-primary" name="submit" value="Calcular" />
            </form>
        </div>
    </div>
    <div class="col"></div>
</div>