{% extends "base.html" %}
{% block body %}
<body style="background-color:gray;">
    <main>
        <img style="  margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);" src="../static/assets/img/Alert.png">
</main>
{% endblock %}
