{% extends "base.html" %}
{% block body %}
<body style="background-color: rgba(211,211,211,0.6);">
        <main>
            <div class="container-fluid custom-scrollbar cal">
                <div class="row home_return_container">
                        <div class="col-12">
                            <a href="https://vida.medikaway.com" class="home_return"><img src="../static/assets/img/house.png" />  Regresar a VIDA Medikaway</a>
                        </div>
                    </div>
                <form action="#" style="background-color:white; margin-bottom:20px;">
                    <div class="text-center" style="margin-bottom:30px;"><h4>Cuestionario de Autismo en la Infancia.</h4>
                                                <h6>Responda las preguntas con lo que su hijo hace habitualmente. Si la conducta es poco frecuente (por ejemplo si la ha observado una o dos veces), responda "No".</h6></div>
                    <div class="form-group">
                        <label for="question_1">¿Su hijo(a) disfruta cuando se le balancea o se le hace saltar sobre sus rodillas?</label>
                        <select name="question_1" id="question_1" class="form-control">
                            <option value="-1" selected disabled> - Seleccione una opción -</option>
                            <option value="0">Si</option>
                            <option value="1">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                            <label for="question_2">¿Su hijo(a) muestra interés por otros infantes?</label>
                            <select name="question_2" id="question_2" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="0">Si</option>
                                <option value="1">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_3">¿Su hijo(a) gusta de subir a las cosas, por ejemplo escaleras?</label>
                            <select name="question_3" id="question_3" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="0">Si</option>
                                <option value="1">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_4">¿Disfruta su hijo(a) jugando al escondite o memorama?</label>
                            <select name="question_4" id="question_4" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="0">Si</option>
                                <option value="1">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_5">¿Su hijo(a) simula alguna vez, por ejemplo, hablar por teléfono o cuidar a las muñecas o imagina otra cosa?</label>
                            <select name="question_5" id="question_5" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="0">Si</option>
                                <option value="1">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_6">¿Utiliza su hijo(a) su dedo índice para señalar pidiendo algo?</label>
                            <select name="question_6" id="question_6" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_7">¿Utiliza su hijo(a) su dedo índice para señalar mostrando su interés en algo?</label>
                            <select name="question_7" id="question_7" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>    
                    </div>
                    
                    <div class="form-group">
                            <label for="question_8">¿Puede su hijo(a) jugar apropiadamente con juguetes pequeños (por ejemplo coches o bloques) sin metérselos a la boca, estrujarlos o solamente arrojarlos?</label>
                            <select name="question_8" id="question_8" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_9">¿Le acerca su hijo(a) objetos para mostrárselos?</label>
                            <select name="question_9" id="question_9" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_10">¿Su hijo(a) le mira fijamente durante mas de uno o dos segundos?</label>
                            <select name="question_10" id="question_10" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_11">¿Su hijo(a) parece hipersensible a los ruidos? (por ejemplo, se tapa los oídos)</label>
                            <select name="question_11" id="question_11" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_12">¿Responde su hijo(a) con una sonrisa a su cara o a su sonrisa?</label>
                            <select name="question_12" id="question_12" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_13">¿Su hijo(a) le imita?</label>
                            <select name="question_13" id="question_13" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_14">¿Su hijo(a) responde cuando le llama por su nombe?</label>
                            <select name="question_14" id="question_14" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_15">Si usted señala un juguete lejos de usted, ¿su hijo(a) lo mira?</label>
                            <select name="question_15" id="question_15" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_16">¿Su hijo(a) camina?</label>
                            <select name="question_16" id="question_16" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_17">¿Su hijo(a) mira las cosas que usted mira?</label>
                            <select name="question_17" id="question_17" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_18">¿Su hijo(a) hace movimientos extraños con los dedos cerca de su propia cara?</label>
                            <select name="question_18" id="question_18" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_19">¿Su hijo(a) trata de llamar su atención con sus acciones?</label>
                            <select name="question_19" id="question_19" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_20">¿Alguna vez ha sospechado que su hijo(a) es sordo(a)?</label>
                            <select name="question_20" id="question_20" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_21">¿Su hijo(a) entiende lo que las personas le dicen?</label>
                            <select name="question_21" id="question_21" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_22">¿Suele su hijo(a) quedarse mirando fijamente al vacío o deambula sin ningún propósito?</label>
                            <select name="question_22" id="question_22" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="question_23">¿Su hijo(a) le mira para observar su reacción cuando se enfrenta con algo desconocido?</label>
                            <select name="question_23" id="question_23" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">Si</option>
                                <option value="2">No</option>
                            </select>    
                    </div>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-primary" onclick="get_results()">Calcular resultados</button>
                    </div>
                                 
                </div>
    
                </form>
    
            </div>
    </main>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function critical_results(){
            let question_2 = parseInt(document.getElementById("question_2").value)
            let question_7 = parseInt(document.getElementById("question_7").value)
            let question_9 = parseInt(document.getElementById("question_9").value)
            let question_13 = parseInt(document.getElementById("question_13").value)
            let question_14 = parseInt(document.getElementById("question_14").value)
            let question_15 = parseInt(document.getElementById("question_15").value)
            let result = 0

            if( question_2 == 2 ){
                result += 1
            }
            if( question_7 == 2 ){
                result += 1
            }
            if( question_9 == 2 ){
                result += 1
            }
            if( question_13 == 2 ){
                result += 1
            }
            if( question_14 == 2 ){
                result += 1
            }
            if( question_15 == 2 ){
                result += 1
            }
            return result
        }
        function normal_results(){
            let question_1 = parseInt(document.getElementById("question_1").value)
            let question_3 = parseInt(document.getElementById("question_3").value)
            let question_4 = parseInt(document.getElementById("question_4").value)
            let question_5 = parseInt(document.getElementById("question_5").value)
            let question_6 = parseInt(document.getElementById("question_6").value)
            let question_8 = parseInt(document.getElementById("question_8").value)
            let question_10 = parseInt(document.getElementById("question_10").value)
            let question_11 = parseInt(document.getElementById("question_11").value)
            let question_12 = parseInt(document.getElementById("question_12").value)
            let question_16 = parseInt(document.getElementById("question_16").value)
            let question_17 = parseInt(document.getElementById("question_17").value)
            let question_18 = parseInt(document.getElementById("question_18").value)
            let question_19 = parseInt(document.getElementById("question_19").value)
            let question_20 = parseInt(document.getElementById("question_20").value)
            let question_21 = parseInt(document.getElementById("question_21").value)
            let question_22 = parseInt(document.getElementById("question_22").value)
            let question_23 = parseInt(document.getElementById("question_23").value)
            let result = 0
            if ( question_1 == 2 ){
                result += 1
            }
            if ( question_3 == 2 ){
                result += 1
            }
            if ( question_4 == 2 ){
                result += 1
            }
            if ( question_5 == 2 ){
                result += 1
            }
            if ( question_6 == 2 ){
                result += 1
            }
            if ( question_8 == 2 ){
                result += 1
            }
            if ( question_10 == 2 ){
                result += 1
            }
            if ( question_11 == 1 ){
                result += 1
            }
            if ( question_12 == 2 ){
                result += 1
            }
            if ( question_16 == 2 ){
                result += 1
            }
            if ( question_17 == 2 ){
                result += 1
            }
            if ( question_18 == 1 ){
                result += 1
            }
            if ( question_19 == 2 ){
                result += 1
            }
            if ( question_20 == 1 ){
                result += 1
            }
            if ( question_21 == 2 ){
                result += 1
            }
            if ( question_22 == 1 ){
                result += 1
            }
            if ( question_23 == 2 ){
                result += 1
            }
            return result

        }
        function validate_answers(){
            let question_1 = parseInt(document.getElementById("question_1").value)
            let question_2 = parseInt(document.getElementById("question_2").value)
            let question_3 = parseInt(document.getElementById("question_3").value)
            let question_4 = parseInt(document.getElementById("question_4").value)
            let question_5 = parseInt(document.getElementById("question_5").value)
            let question_6 = parseInt(document.getElementById("question_6").value)
            let question_7 = parseInt(document.getElementById("question_7").value)
            let question_8 = parseInt(document.getElementById("question_8").value)
            let question_9 = parseInt(document.getElementById("question_9").value)
            let question_10 = parseInt(document.getElementById("question_10").value)
            let question_11 = parseInt(document.getElementById("question_11").value)
            let question_12 = parseInt(document.getElementById("question_12").value)
            let question_13 = parseInt(document.getElementById("question_13").value)
            let question_14 = parseInt(document.getElementById("question_14").value)
            let question_15 = parseInt(document.getElementById("question_15").value)
            let question_16 = parseInt(document.getElementById("question_16").value)
            let question_17 = parseInt(document.getElementById("question_17").value)
            let question_18 = parseInt(document.getElementById("question_18").value)
            let question_19 = parseInt(document.getElementById("question_19").value)
            let question_20 = parseInt(document.getElementById("question_20").value)
            let question_21 = parseInt(document.getElementById("question_21").value)
            let question_22 = parseInt(document.getElementById("question_22").value)
            let question_23 = parseInt(document.getElementById("question_23").value)
            if ( question_1 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 1 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_2 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 2 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_3 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 3 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_4 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 4 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_5 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 5 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_6 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 6 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_7 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 7 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_8 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 8 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_9 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 9 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_10 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 10 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_11 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 11 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_12 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 12 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_13 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 13 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_14 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 14 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_15 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 15 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_16 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 16 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_17 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 17 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_18 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 18 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_19 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 19 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_20 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 20 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_21 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 21 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_22 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 22 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
            if ( question_23 == -1){
                swal({
                    title: "Error",
                    text: "La pregunta 23 no ha sido contestada.",
                    icon: "error",
                    button: "Entendido"
                })
                return -1
            }
        }
        function get_results(){
            let critical_result,normal_result
            if ( validate_answers() == -1 ){
                console.log("Not evaluable")
            } else {
                critical_result = critical_results()
                normal_result = normal_results()
                if ( critical_result > 2 || normal_result > 3 ){
                    swal("¡Atención!","Tu hijo(a) puede padecer autismo, será mejor que consultes con un especialista.","warning",{button:"Entiendo"})
                } else {
                    swal("Excelente","Todo parece estar en orden, sigue pendiente de la salud de tu familia a través de Medikaway.","success",{button:"Entiendo"})
                }
            }

            

        }

    </script>
{% endblock %}

