{% extends "base.html" %}
{% block head %}
<style type="text/css">
    .card{
        width:98%;
        margin: 0 auto;
        margin-top:10px;
        border-radius: 5px;
        border:none;
    }
    body{
        background-color:lightgray;
    }
</style>
{% endblock %}
{% block body %}
<body>

        {% if data_cec %}    
    <div class="card text-center" style="background-color:lightgray;">
        <div class="card-header" style="border-radius:10px;background-color:#22A7F0; color: white; font-size: 18px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
            <b>Control de Enfermedades Crónicas.</b>
        </div>
        
                <ul class="list-group list-group-flush" style="margin-top:5px;">
                        {% for data in data_cec %}
                        <li class="list-group-item" style="width:97%; margin:0 auto; border-radius:10px;">
                        <div class="card">
                            <ul class="list-group list-group-flush">
                            {% for key,value in data.items() %}
                            <li class="list-group-item" >
                                    <span class="sub" style="font-size:18px;"><b>{{key}}</b><br></span>
                                    <span class="value">
                                        {% if value %}
                                            {{value}}
                                        {% else %}
                                            - 
                                        {% endif %}
                                    </span>
                            </li>  
                            {% endfor %}
                        </ul>
                        </div>
                    </li>  
                    <div style="background-color:light-gray; height:15px;"></div>  
                        {% endfor %}
            
                    </ul>       
        </div>
        {% endif %}
        {% if data_cmeyl %}  
        <div class="card text-center" style="background-color:lightgray;">
                <div class="card-header" style="border-radius:10px;background-color:#22A7F0; color: white; font-size: 18px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                    <b>Control de Embarazo y Lactancia.</b>
                </div>
                
                        <ul class="list-group list-group-flush" style="margin-top:5px;">
                                {% for data in data_cmeyl %}
                                <li class="list-group-item" style="width:97%; margin:0 auto; border-radius:10px;">
                                <div class="card">
                                    <ul class="list-group list-group-flush">
                                    {% for key,value in data.items() %}
                                    <li class="list-group-item" >
                                            <span class="sub" style="font-size:18px;"><b>{{key}}</b><br></span>
                                            <span class="value">
                                                {% if value %}
                                                    {{value}}
                                                {% else %}
                                                    - 
                                                {% endif %}
                                            </span>
                                    </li>  
                                    {% endfor %}
                                </ul>
                                </div>
                            </li>  
                            <div style="background-color:light-gray; height:15px;"></div>  
                                {% endfor %}
                    
                            </ul>       
                </div>
                {% endif %}
                {% if data_ci %} 
                <div class="card text-center" style="background-color:lightgray;">
                        <div class="card-header" style="border-radius:10px;background-color:#22A7F0; color: white; font-size: 18px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                            <b>Control de Nutrición Infantil.</b>
                        </div>
                        
                                <ul class="list-group list-group-flush" style="margin-top:5px;">
                                        {% for data in data_ci %}
                                        <li class="list-group-item" style="width:97%; margin:0 auto; border-radius:10px;">
                                        <div class="card">
                                            <ul class="list-group list-group-flush">
                                            {% for key,value in data.items() %}
                                            <li class="list-group-item" >
                                                    <span class="sub" style="font-size:18px;"><b>{{key}}</b><br></span>
                                                    <span class="value">
                                                        {% if value %}
                                                            {{value}}
                                                        {% else %}
                                                            - 
                                                        {% endif %}
                                                    </span>
                                            </li>  
                                            {% endfor %}
                                        </ul>
                                        </div>
                                    </li>  
                                    <div style="background-color:light-gray; height:15px;"></div>  
                                        {% endfor %}
                            
                                    </ul>       
                        </div>
                {% endif %}

                {% if not data_ci and not data_cec and not data_cmeyl %}
                        <div class="card text-center" style="height:200px; border-radius:10px; margin-top: 40vh;">
                            <div class="card-body" style="margin-top:60px;">
                                <span >No hay tarjetas de control disponibles.</span>
                            </div>
                        </div>
                {% endif %}

    <div style="margin-bottom:20px;"></div>
    <!-- <div class="card text-center">
            <div class="card-header" style="background-color:#22A7F0; color: white; font-size: 18px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                <b>Control de Embarazo y Lactancia.</b>
            </div>
            <ul class="list-group list-group-flush">
                    {% for data in data_cmeyl %}
                    {% for key,value in data.items() %}
                    <li class="list-group-item">
                            {{key}} <br>
                            {{value}}
                    </li>
                    {% endfor %}
                    <br>
                {% endfor %}
    
            </ul>
        </div>



    <div class="card text-center" >
            <div class="card-header" style="background-color:#22A7F0; color: white; font-size: 18px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                <b>Control de Nutrición Infantil.</b>
            </div>
            <ul class="list-group list-group-flush">
                    {% for data in data_ci %}
                    {% for key,value in data.items() %}
                    <li class="list-group-item">
                            {{key}} <br>
                            {{value}}
                    </li>
                    {% endfor %}
                {% endfor %}
    
            </ul>
        </div> -->

    
{% endblock %}