{% extends "base.html" %}
{% block body %}
<body style="background-color: rgba(211,211,211,0.6);">
        <main>
            <div class="container-fluid custom-scrollbar cal">
                <div class="row home_return_container">
                        <div class="col-12">
                            <a href="https://vida.medikaway.com" class="home_return"><img src="../static/assets/img/house.png" />  Regresar a VIDA Medikaway</a>
                        </div>
                    </div>
                <form action="#">
                    <div class="row">
                        <div class="col-12 text-center question" style="margin-bottom:15px;">
                            <h5>Instrucciones:</h5><h6> Este cuestionario tiene como objetivo 
                                evaluar si un adulto mayor de 65 años padece depresión.</h6>
                            
                        </div>
                        <div class="w-100"></div>
                        <div class="question text-center form-group">
                            <div class="col-12">
                                    <p>¿Está usted básicamente, satisfecho(a) con su vida?</p>
                            </div>
                            <div class="col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-outline-primary">
                                    <input type="radio"  id="q1-yes"  />SI
                                </label>
                                <label class="btn btn-outline-primary">
                                    <input type="radio" id="q1-no"  />NO
                                </label>      
                            </div>
                        </div>
    
                        <div class="w-100"></div>
                        <div class="question text-center form-group">
                                <div class="col-12">
                                        <p>¿Ha suspendido usted muchas de sus actividades e intereses?</p>
                                </div>
                                <div class="col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="radio" id="q2-yes"  />SI
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q2-no"  />NO
                                    </label>      
                                </div>
                            </div>
    
                            <div class="w-100"></div>
                            <div class="question text-center form-group">
                                <div class="col-12">
                                        <p>¿Siente usted que su vida esta vacía?</p>
                                </div>
                                <div class="col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q3-yes"  />SI
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q3-no"  />NO
                                    </label>      
                                </div>
                            </div>
    
                            <div class="w-100"></div>
                            <div class="question text-center form-group">
                                <div class="col-12">
                                        <p>¿Se siente a menudo aburrido?</p>
                                </div>
                                <div class="col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q4-yes" />SI
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q4-no"  />NO
                                    </label>      
                                </div>
                            </div>
    
                            <div class="w-100"></div>
                            <div class="question text-center form-group">
                                <div class="col-12">
                                        <p>¿Está de buen humor la mayor parte del tiempo?</p>
                                </div>
                                <div class="col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q5-yes"  />SI
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q5-no"  />NO
                                    </label>      
                                </div>
                            </div>                             
    
                            <div class="w-100"></div>
                            <div class="question text-center form-group">
                                <div class="col-12">
                                        <p>¿Tiene miedo de que le suceda algo malo?</p>
                                </div>
                                <div class="col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q6-yes"  />SI
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q6-no"  />NO
                                    </label>      
                                </div>
                            </div> 
                            
                            <div class="w-100"></div>
                            <div class="question text-center form-group">
                                <div class="col-12">
                                        <p>¿Se siente feliz la mayor parte del tiempo?</p>
                                </div>
                                <div class="col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q7-yes"  />SI
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q7-no"  />NO
                                    </label>      
                                </div>
                            </div> 
    
                            <div class="w-100"></div>
                            <div class="question text-center form-group">
                                <div class="col-12">
                                        <p>¿Se siente a menudo indefenso(a)?</p>
                                </div>
                                <div class="col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q8-yes"  />SI
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio" id="q8-no"  />NO
                                    </label>      
                                </div>
                            </div>
    
    
                            <div class="w-100"></div>
                            <div class="question text-center form-group">
                                <div class="col-12">
                                        <p>¿Prefiere quedarse en casa más que salir a hacer cosas nuevas?</p>
                                </div>
                                <div class="col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q9-yes"  />SI
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q9-no"  />NO
                                    </label>      
                                </div>
                            </div>
    
    
                            <div class="w-100"></div>
                            <div class="question text-center form-group">
                                <div class="col-12">
                                        <p>¿Piensa que tiene más problemas de memoria que la mayoría?</p>
                                </div>
                                <div class="col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="radio" id="q10-yes"  />SI
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q10-no"  />NO
                                    </label>      
                                </div>
                            </div>
    
                            <div class="w-100"></div>
                            <div class="question text-center form-group">
                                <div class="col-12">
                                        <p>¿Cree que es maravilloso estar vivo?</p>
                                </div>
                                <div class="col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q11-yes"  />SI
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio" id="q11-no"  />NO
                                    </label>      
                                </div>
                            </div>
    
                            <div class="w-100"></div>
                            <div class="question text-center form-group">
                                <div class="col-12">
                                        <p>¿Se siente usted poco útil?</p>
                                </div>
                                <div class="col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q12-yes"  />SI
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q12-no"  />NO
                                    </label>      
                                </div>
                            </div>
    
                            <div class="w-100"></div>
                            <div class="question text-center form-group">
                                <div class="col-12">
                                        <p>¿Se siente lleno de energía?</p>
                                </div>
                                <div class="col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q13-yes"  />SI
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q13-no"  />NO
                                    </label>      
                                </div>
                            </div>
    
    
                            <div class="w-100"></div>
                            <div class="question text-center form-group">
                                <div class="col-12">
                                        <p>¿Siente que su situación es irremediable?</p>
                                </div>
                                <div class="col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q14-yes"  />SI
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q14-no"  />NO
                                    </label>      
                                </div>
                            </div>
    
                            <div class="w-100"></div>
                            <div class="question text-center form-group">
                                <div class="col-12">
                                        <p>¿Piensa usted que la mayoría de las personas están en mejores condiciones que usted?</p>
                                </div>
                                <div class="col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q15-yes"  />SI
                                    </label>
                                    <label class="btn btn-outline-primary">
                                        <input type="radio"  id="q15-no"  />NO
                                    </label>      
                                </div>
                            </div>
    
                            <div class="w-100"></div>
                            <div class="question text-center form-group">
                                <div class="col-12">
                                        <button class="btn btn-primary" type="button" onclick="results()">Resultados</button>
                                </div>
                            </div>
    
    
    
                            
                             
                    </div>
    
                </form>
    
            </div>
    </main>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function setBackground(){
            document.body.style.backgroundColor = rgba(211,211,211,0.6)
        }
        
    function results(){
        var puntaje = 0
        var q1 = document.getElementById('q1-no').checked
        var q2 = document.getElementById('q2-yes').checked
        var q3 = document.getElementById('q3-yes').checked
        var q4 = document.getElementById('q4-yes').checked
        var q5 = document.getElementById('q5-no').checked
        var q6 = document.getElementById('q6-yes').checked
        var q7 = document.getElementById('q7-no').checked
        var q8 = document.getElementById('q8-yes').checked
        var q9 = document.getElementById('q9-yes').checked
        var q10 = document.getElementById('q10-yes').checked
        var q11 = document.getElementById('q11-no').checked
        var q12 = document.getElementById('q12-yes').checked
        var q13 = document.getElementById('q13-no').checked
        var q14 = document.getElementById('q14-yes').checked
        var q15 = document.getElementById('q15-yes').checked
        
        console.log(q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,q11,q12,q13,q14,q15)
        
        //Respuestas correctas, negativas.
        if (q1){
            puntaje = puntaje + 1
        }
        if (q2){
            puntaje = puntaje + 1
        }
        if (q3){
            puntaje = puntaje + 1
        }
        if (q4){
            puntaje = puntaje + 1
        }
        if (q5){
            puntaje = puntaje + 1
        }
        if (q6){
            puntaje = puntaje + 1
        }
        if (q7){
            puntaje = puntaje + 1
        }
        if (q8){
            puntaje = puntaje + 1
        }
        if (q9){
            puntaje = puntaje + 1
        }
        if (q10){
            puntaje = puntaje + 1
        }
        if (q11){
            puntaje = puntaje + 1
        }
        if (q12){
            puntaje = puntaje + 1
        }
        if (q13){
            puntaje = puntaje + 1
        }
        if (q14){
            puntaje = puntaje + 1
        }
        if (q15){
            puntaje = puntaje + 1
        }
    
        if(puntaje > 0 && puntaje <=5){
            swal("¡Excelente!", "Todo se encuentra en orden.", "success");
        }
        if(puntaje >= 6 && puntaje < 10){
            swal("¡Atención!", "Hay una depresión moderada.", "warning");
        }
        if(puntaje > 10){
            swal("¡Cuidado!", "Depresión severa, será mejor que busques ayuda.", "error");
    
        }
    
    
    
    
        
    
    
    }
    </script>
{% endblock %}

