{% extends "base.html" %}
{% block body %}
<body>
    <main>
        <div class="container-fluid cal">
            <div class="row home_return_container">
                <div class="col-12">
                    <a href="https://vida.medikaway.com" class="home_return"><img src="../static/assets/img/house.png" />  Regresar a VIDA Medikaway</a>
                </div>
            </div>
            <h3 style="text-align:center;">Calculadora de I.M.C.</h3>
            <form action="#">
                <div class="row">
                        <div class="col-12 form-group">
                            <label for="estatura">Estatura: </label>
                             <input id="input_estatura" name="estatura" type="text" placeholder="Centimetros" class="form-control" required oninput="calcular_imc()" />    
                        </div>
        
                        <div class="col-12 form-group">
                            <label for="peso">Peso: </label> 
                            <input id="input_peso"name="peso" type="text" placeholder="Kilogramos" class="form-control" required oninput="calcular_imc()" />   
                        </div>
        
                        <!--<div class="col-12 form-group">
                            <button class="btn btn-primary" type="button" onclick="calcular_imc()" style="width:100%">Calcular</button>                                               
                        </div>-->

                        <div class="col-12 form-group" >                                                  
                                <label for="imc_res">Tu resultado:</label> 
                                <input class="form-control" id="imc_res"name="imc_res"type="text" placeholder="Esperando información..." readonly style="text-align:center" />
                               
                        </div>
                </div>
            </form>
            </div>

        </div>

</main>
<script>
    function calcular_imc(){
    var peso = document.getElementById('input_peso').value
    var estatura = document.getElementById('input_estatura').value
    if ( !peso || !estatura ){
        document.getElementById('imc_res').value = 'Esperando información...'
    } else {
        estatura = estatura / 100
        var imc = (peso/(estatura * estatura)).toFixed(2)
        if (imc <= 18.50){
            document.getElementById('imc_res').value = `IMC: ${imc}, indica bajo peso.`
        }
        else if (imc > 18.50 && imc < 25 ){
            document.getElementById('imc_res').value = `IMC: ${imc}, indica peso normal.`
        }
        else if (imc >= 25 && imc < 30 ){
            document.getElementById('imc_res').value = `IMC: ${imc}, indica sobrepeso.`
        }
        else if (imc >= 30 ){
            document.getElementById('imc_res').value = `IMC: ${imc}, indica obesidad.`
        }

    }


    
}

$( document ).ready(function()
{
    calcular_imc();
});

</script>
{% endblock %}


