{% extends "base.html" %}
{% block body %}
<body style="background-color: rgba(211,211,211,0.6);">
        <main>
            <div class="container-fluid custom-scrollbar cal">
                <div class="row home_return_container">
                        <div class="col-12">
                            <a href="https://vida.medikaway.com" class="home_return"><img src="../static/assets/img/house.png" />  Regresar a VIDA Medikaway</a>
                        </div>
                    </div>
                <form action="#" style="background-color:white; margin-bottom:20px;">
                    <div class="text-center"><h4>Test para estimar el riesgo de prediabetes</h4></div>
                    <div class="form-group">
                        <label for="age_input">¿Cuál es tu edad?</label>
                        <select name="age_input" id="age_input" class="form-control">
                            <option value="-1" selected disabled> - Seleccione una opción -</option>
                            <option value="0">Menos de 40 años</option>
                            <option value="1">40 -> 49 años</option>
                            <option value="2">50 -> 59 años</option>
                            <option value="3">60 años o más</option>
                        </select>
                    </div>
                    <div class="form-group">
                            <label for="gender_input">Sexo:</label>
                            <select name="gender_input" id="gender_input" class="form-control" onchange="gestational_diabetes()">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="0">Femenino</option>
                                <option value="1">Masculino</option>
                            </select>    
                    </div>
                    <div class="form-group" id="gestational_diabetes" style="display:none;">
                            <label for="gestational_input">¿Alguna vez has sido diagnosticada con diabetes gestacional?</label>
                            <select name="gestational_input" id="gestational_input" class="form-control">
                                <option value="0" selected>No</option>
                                <option value="1">Si</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="parent_diabetes">¿Tienes algún pariente cercano (padre, madre, hermanos) diagnosticado con diabetes?</label>
                            <select name="parent_diabetes" id="parent_diabetes" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="0">No</option>
                                <option value="1">Si</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="high_pressure">¿Alguna vez has recibido diagnóstico de presión arterial alta?</label>
                            <select name="high_pressure" id="high_pressure" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="0">No</option>
                                <option value="1">Si</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="physical_activity">¿Realizas actividad física?</label>
                            <select name="physical_activity" id="physical_activity" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">No</option>
                                <option value="0">Si</option>
                            </select>    
                    </div>
                    <div class="form-group">
                            <label for="height">¿Cuál es tu estatura aproximada?</label>
                            <select name="height" id="height" class="form-control" onchange="select_weight()">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="1">147 cm</option>
                                <option value="2">150 cm</option>
                                <option value="3">152 cm</option>
                                <option value="4">155 cm</option>
                                <option value="5">158 cm</option>
                                <option value="6">160 cm</option>
                                <option value="7">163 cm</option>
                                <option value="8">165 cm</option>
                                <option value="9">168 cm</option>
                                <option value="10">170 cm</option>
                                <option value="11">173 cm</option>
                                <option value="12">175 cm</option>
                                <option value="13">178 cm</option>
                                <option value="14">180 cm</option>
                                <option value="15">183 cm</option>
                                <option value="16">186 cm</option>
                                <option value="17">188 cm</option>
                                <option value="18">190 cm</option>
                                <option value="19">193 cm o más</option>
                            </select>    
                    </div>
                    <div class="form-group" id="weight" style="display:none;">
                            <label for="weight_input">Peso en kg:</label>
                            <select name="weight_input" id="weight_input" class="form-control">
                                <option value="-1" selected disabled> - Seleccione una opción -</option>
                                <option value="0" id="option0"></option>
                                <option value="1" id="option1"></option>
                                <option value="2" id="option2"></option>
                                <option value="3" id="option3"></option>
                            </select>    
                    </div>
                    <div class="form-group text-center">
                        <button type="button" class="btn btn-primary" onclick="get_results()">Calcular resultados</button>
                    </div>
                                 
                </div>
    
                </form>
    
            </div>
    </main>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function gestational_diabetes(){
            let gender = parseInt(document.getElementById("gender_input").value) 
            let gestational_diabetes_div = document.getElementById("gestational_diabetes")
            if ( gender == 0 ){
                gestational_diabetes_div.style.display = "block"
            } else {
                gestational_diabetes_div.style.display = "none"
            }
        }
        function get_results(){
            let age = parseInt(document.getElementById("gender_input").value) 
            let gender = parseInt(document.getElementById("gender_input").value)
            let gestational_diabetes = parseInt(document.getElementById("gestational_input").value)
            let parent_diabetes = parseInt(document.getElementById("parent_diabetes").value)
            let high_pressure = parseInt(document.getElementById("high_pressure").value)
            let physical_activity = parseInt(document.getElementById("physical_activity").value)
            let weight = parseInt(document.getElementById("weight_input").value)
            if ( validate_answers(age,gender,parent_diabetes,high_pressure,physical_activity,weight) == -1){
                swal("Error","Aún no has respondido todas las preguntas.","error")
            } else {
                let score = get_score(age,gender,gestational_diabetes,parent_diabetes,high_pressure,physical_activity,weight)
                swal({title:"¡Atención!",
                        text:"Este cuestionario no reemplaza la opinión de un profesional de la salud, recuerda que en Medikaway puedes consultar a un médico desde tu celular.",
                        icon:"warning",
                        button:"Ver resultado"})
                        .then(() => {
                            let score = get_score(age,gender,gestational_diabetes,parent_diabetes,high_pressure,physical_activity,weight)
                            if (score >= 5){
                                swal("¡Cuidado!","Es probable que padezcas prediabetes y existe un alto riesgo de padecer diabetes tipo 2. Consulta a tu médico a través de Medikaway para que te oriente.","error",{button:"Entiendo"})
                            } else if(score < 5){
                                swal("Buenas noticias","Es poco probable que padezcas prediabetes, no olvides realizar chequeos periódicos con tu médico a través de Medikaway.","success")
                            }
                        })


            }

            
        }
        function get_score(age,gender,gestational_diabetes,parent_diabetes,high_pressure,physical_activity,weight){
            return age+gender+gestational_diabetes+parent_diabetes+high_pressure+physical_activity+weight
        }
        function validate_answers(age,gender,parent_diabetes,high_pressure,physical_activity,weight){
            if( age == -1 || gender == -1 || parent_diabetes == -1 || high_pressure == -1 || physical_activity == -1 || weight == -1){
                return -1
            } else {
                return 1
            }
        }
        function select_weight(){
            let weight_div = document.getElementById("weight_input")
            let height = parseInt(document.getElementById("height").value)
            let weight_option0 = document.getElementById("option0")
            let weight_option1 = document.getElementById("option1")
            let weight_option2 = document.getElementById("option2")
            let weight_option3 = document.getElementById("option3")
            weight.style.display = "block"
            console.log(height)
            switch (height){
                case 1:
                    weight_option0.text = "Menos de 54 kg."
                    weight_option1.text = "Entre 54.1 y 64.4 kg."
                    weight_option2.text = "Entre 64.5 y 86.5 kg."
                    weight_option3.text = "Mas de 86.6 kg"
                    break
                case 2:
                    weight_option0.text = "Menos de 56.2 kg."
                    weight_option1.text = "Entre 56.3 y 66.7 kg."
                    weight_option2.text = "Entre 66.8 y 89.5 kg."
                    weight_option3.text = "Mas de 89.5 kg"
                    break
                case 3:
                    weight_option0.text = "Menos de 58 kg."
                    weight_option1.text = "Entre 58 y 69 kg."
                    weight_option2.text = "Entre 69.1 y 92 kg."
                    weight_option3.text = "Mas de 92.1 kg"
                    break
                case 4:
                    weight_option0.text = "Menos de 60 kg."
                    weight_option1.text = "Entre 60.1 y 71 kg."
                    weight_option2.text = "Entre 71.1 y 95 kg."
                    weight_option3.text = "Mas de 95.1 kg"
                    break
                case 5:
                    weight_option0.text = "Menos de 62 kg."
                    weight_option1.text = "Entre 62.1 y 74 kg."
                    weight_option2.text = "Entre 74.1 y 98.4 kg."
                    weight_option3.text = "Mas de 98.5 kg"
                    break
                case 6:
                    weight_option0.text = "Menos de 64 kg."
                    weight_option1.text = "Entre 64.1 y 76.2 kg."
                    weight_option2.text = "Entre 76.3 y 101.4 kg."
                    weight_option3.text = "Mas de 101.5 kg"
                    break
                case 7:
                    weight_option0.text = "Menos de 65.9 kg."
                    weight_option1.text = "Entre 66 y 78.9 kg."
                    weight_option2.text = "Entre 80 y 104.9 kg."
                    weight_option3.text = "Mas de 105 kg"
                    break
                case 8:
                    weight_option0.text = "Menos de 68 kg."
                    weight_option1.text = "Entre 68.1 y 81 kg."
                    weight_option2.text = "Entre 81.1 y 108.4 kg."
                    weight_option3.text = "Mas de 108.5 kg"
                    break
                case 9:
                    weight_option0.text = "Menos de 70 kg."
                    weight_option1.text = "Entre 70.1 y 83.9 kg."
                    weight_option2.text = "Entre 84 y 111.4 kg."
                    weight_option3.text = "Mas de 111.5 kg"
                    break
                case 10:
                    weight_option0.text = "Menos de 72 kg."
                    weight_option1.text = "Entre 72.1 y 86 kg."
                    weight_option2.text = "Entre 86.1 y 115 kg."
                    weight_option3.text = "Mas de 115.1 kg"
                    break
                case 11:
                    weight_option0.text = "Menos de 74.4 kg."
                    weight_option1.text = "Entre 74.5 y 88.9 kg."
                    weight_option2.text = "Entre 89 y 118 kg."
                    weight_option3.text = "Mas de 118.1 kg"
                    break
                case 12:
                    weight_option0.text = "Menos de 76.5 kg."
                    weight_option1.text = "Entre 76.6 y 91.6 kg."
                    weight_option2.text = "Entre 91.7 y 122 kg."
                    weight_option3.text = "Mas de 122.1 kg"
                    break
                case 13:
                    weight_option0.text = "Menos de 79 kg."
                    weight_option1.text = "Entre 79.1 y 94.4 kg."
                    weight_option2.text = "Entre 94.5 y 125.4 kg."
                    weight_option3.text = "Mas de 125.5 kg"
                    break
                case 14:
                    weight_option0.text = "Menos de 81 kg."
                    weight_option1.text = "Entre 81.1 y 97 kg."
                    weight_option2.text = "Entre 97.1 y 129 kg."
                    weight_option3.text = "Mas de 129.1 kg"
                    break
                case 15:
                    weight_option0.text = "Menos de 83.4 kg."
                    weight_option1.text = "Entre 83.5 y 99.9 kg."
                    weight_option2.text = "Entre 100 y 132.9 kg."
                    weight_option3.text = "Mas de 133 kg"
                    break
                case 16:
                    weight_option0.text = "Menos de 85.7 kg."
                    weight_option1.text = "Entre 85.8 y 102.4 kg."
                    weight_option2.text = "Entre 102.5 y 136.4 kg."
                    weight_option3.text = "Mas de 136.5 kg"
                    break
                case 17:
                    weight_option0.text = "Menos de 88 kg."
                    weight_option1.text = "Entre 88.1 y 105.2 kg."
                    weight_option2.text = "Entre 105.3 y 140.6 kg."
                    weight_option3.text = "Mas de 140.7 kg"
                    break
                case 18:
                    weight_option0.text = "Menos de 90.7 kg."
                    weight_option1.text = "Entre 90.8 y 108.4 kg."
                    weight_option2.text = "Entre 108.5 y 144.4 kg."
                    weight_option3.text = "Mas de 144.5 kg"
                    break
                case 19:
                    weight_option0.text = "Menos de 93 kg."
                    weight_option1.text = "Entre 93.1 y 111 kg."
                    weight_option2.text = "Entre 111.1 y 148.4 kg."
                    weight_option3.text = "Mas de 148.5 kg"
                    break
                
            }

        }
    </script>
{% endblock %}

