{% extends "base_search.html" %}
{% block body %}
<body>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col" ></div>
                <div class="col-md-6 col-sm-10" >
                    <div class="form-group text-center">
                        <form action="">
                            <label for="search_input" class="search_form">Búsqueda por correo:</label>
                            <input id="seach_input" class="form-control search_form text-center"type="text" placeholder="ejemplo@medikaway.com">
                            <button type="button" class="btn btn-primary search_form button_styled">Buscar</button>
                        </form>
                    </div>
                    
                </div>
                <div class="col" ></div>
            </div>
        </div>
    </main>
<script>
    //////////////////////////////
    // NOTE Aquí van los scripts 
    /////////////////////////////
</script>
{% endblock %}


